apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ticketmaster-ingress
spec:
  entryPoints:
    - web
  routes:
    # Route a Catalog Service-hez
    - match: PathPrefix(`/api/Events`)
      kind: Rule
      services:
        - name: catalog-service
          port: 8080
    
    # Route a Booking Service-hez
    - match: PathPrefix(`/api/Booking`)
      kind: Rule
      services:
        - name: booking-service
          port: 8080