apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          # LABOR TECHNIKA:
          image: "{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}"
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: {{ .Values.postgresql.password }}
---
apiVersion: v1
kind: Service
metadata:
  name: ticketmaster-db # Ezen a néven érik el a többiek
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres