apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ticketmaster.fullname" . }}-redis
  labels:
    {{- include "ticketmaster.labels" . | nindent 4 }}
    component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "ticketmaster.selectorLabels" . | nindent 6 }}
      component: redis
  template:
    metadata:
      labels:
        {{- include "ticketmaster.selectorLabels" . | nindent 8 }}
        component: redis
    spec:
      containers:
        - name: redis
          image: {{ .Values.redis.image }}
          ports:
            - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ticketmaster.fullname" . }}-redis
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    {{- include "ticketmaster.selectorLabels" . | nindent 4 }}
    component: redis