apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: {{ .Values.worker.replicaCount }}
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: "{{ .Values.worker.image.repository }}:{{ .Values.worker.image.tag }}"
          imagePullPolicy: {{ .Values.worker.image.pullPolicy }}
          env:
            - name: RabbitMQ__Host
              value: "ticketmaster-rabbit"
            - name: RabbitMQ__Username
              value: {{ .Values.rabbitmq.username }}
            - name: RabbitMQ__Password
              value: {{ .Values.rabbitmq.password }}