apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ticketmaster-ingress
spec:
  entryPoints:
    - web
  routes:
    # 1. LOGIN (Publikus)
    # Bárki elérheti, hogy tokent szerezzen
    - match: PathPrefix(`/api/Auth`)
      kind: Rule
      services:
        - name: auth-service
          port: 8080

    # 2. CATALOG LISTÁZÁS & RÉSZLETEK (Publikus - GET)
    # Nincs Middleware -> Bárki láthatja az eseményeket (Guest/User/Admin)
    # Ez vonatkozik a /api/Events/{id}-re is a PathPrefix miatt!
    - match: PathPrefix(`/api/Events`) 
      kind: Rule
      middlewares:
        - name: jwt-auth
      services:
        - name: catalog-service
          port: 8080

    # 4. BOOKING / VÁSÁRLÁS (Védett)
    # Van Middleware -> Csak bejelentkezett User/Admin érheti el.
    - match: PathPrefix(`/api/Booking`)
      kind: Rule
      middlewares:
        - name: jwt-auth
      services:
        - name: booking-service
          port: 8080