apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: {{ .Values.worker.replicaCount }}
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: "{{ .Values.worker.image.repository }}:{{ .Values.worker.image.tag }}"
          imagePullPolicy: {{ .Values.worker.image.pullPolicy }}
          env:
            # --- RabbitMQ Config ---
            - name: RabbitMQ__Host
              valueFrom:
                configMapKeyRef:
                  name: ticketmaster-config
                  key: rabbit-host
            - name: RabbitMQ__Username
              valueFrom:
                secretKeyRef:
                  name: ticketmaster-secret
                  key: rabbit-user
            - name: RabbitMQ__Password
              valueFrom:
                secretKeyRef:
                  name: ticketmaster-secret
                  key: rabbit-pass